#root {
  width: 1300px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  /* trbl */
}

html,
body {
  background-image: url("https://cdn.discordapp.com/attachments/555763095889379366/1121542955006689420/web-bg2.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}
