h2 {
  margin-top: 10rem;
  font-size: 2rem;
  span {
    background: -webkit-linear-gradient(#5561ff, #3643fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.realizationsContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;

  .realization-card {
    position: relative;
    // width: 14rem;
    // height: 16rem;
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid #2d3264;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background: radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(165, 239, 255, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );

    .content {
      .realization-image {
        width: 21rem;
      }

      .realization-title {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;

        .button {
          border-radius: 12px;
          background: var(
            --primary-button-enabled,
            linear-gradient(180deg, #5561ff 0%, #3643fc 100%, #3643fc 100%)
          );
          display: flex;
          padding: 0.6rem 1.5rem;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          transition: all 0.2s ease-in-out;
          box-shadow: 0px 12px 16px 0px rgba(24, 24, 24, 0.3);

          cursor: pointer;
        }

        .button:hover {
          border-radius: 12px;
          background: linear-gradient(180deg, #6b75ff 0%, #535fff 100%);
          box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.3);
        }

        .button:active {
          border-radius: 12px;
          background: linear-gradient(180deg, #4b4fa0 0%, #44488b 100%);
        }

        h5 {
          font-size: 1rem;
          width: 200px;
          text-align: left;

          span {
            background: -webkit-linear-gradient(#5561ff, #3643fc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 482px) {
  .realizationsContainer {
    .realization-card {
      padding: 1rem;
      .content {
        .realization-title {
          gap: 0rem;

          h5 {
            font-weight: 600;
            font-size: 0.95rem;
          }
          .button {
            padding: 0.6rem 1.5rem;
            gap: 0.5rem;
          }
          h5 {
            width: 182px;
          }
        }
        .realization-image {
          width: 18rem;
        }
      }
    }
  }
}
